.accordion-item {
	border: 0px;
}

h2 {
	margin: 0px;
}

.accordion-button {
	font-size: 20px;
}

.col-md-6 {
	padding-bottom: 0.5rem;
}

.col-md-12 {
	padding-bottom: 0.5rem;
}

.btn-group {
	padding-bottom: 0.5rem;
}
