<div class="card" [hidden]="contact.hide">
    <div class="card-body">
        <h2 class="card-title">{{ contact.title }}</h2>
        <div class="row">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" id="contactForm">
                <div class="form-floating">
                    <input type="text" class="form-control" id="full-name" name="entry.192254487"
                        placeholder="{{ contact.fullnamePlaceHolder }}" required="true" formControlName="name">
                    <label for="full-name">{{ contact.fullnamePlaceHolder }}</label>
                </div>
                <div class="form-floating">
                    <input type="email" class="form-control" id="email" name="entry.1584335658" required="true"
                        placeholder="{{ contact.emailPlaceHolder }}" formControlName="email">
                    <label for="email">{{ contact.emailPlaceHolder }}</label>
                </div>
                <div class="form-floating">
                    <input type="phone" class="form-control" id="phone" name="entry.324243063"
                        placeholder="{{ contact.phonePlaceHolder }}" formControlName="phone">
                    <label for="phone">{{ contact.phonePlaceHolder }}</label>
                </div>
                <div class="form-floating">
                    <textarea class="form-control" style="height: 10rem" id="message" name="entry.548951854"
                        required="true" placeholder="{{ contact.messagePlaceHolder }}"
                        formControlName="message"></textarea>
                    <label for="message">{{ contact.messagePlaceHolder }}</label>
                </div>
                <button type="submit" class="btn btn-success">{{ contact.submitBtnContact }}</button>
            </form>
            <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;">{{ contact.submitContact }}</iframe>
        </div>
    </div>
</div>