.card-body {
    padding: 0;
}

.card-header{
    border-bottom: none
}

.card-footer{
    border-top: none
}

.img-tech{
    height: auto;
    width: 35px;
    margin-left: 5px;
    margin-right: 5px;
}