<div class="position-fixed top-0 end-0">
	<button (click)="onClick()" class="btn btn-danger">Logout</button>
</div>
<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="accordion" id="accordionExample">
				<app-about-me-manager></app-about-me-manager>
				<app-experience-manager></app-experience-manager>
				<app-projects-manager></app-projects-manager>
				<app-education-manager></app-education-manager>
				<app-skills-manager></app-skills-manager>
				<app-language-manager></app-language-manager>
				<app-social-manager></app-social-manager>
			</div>
		</div>
	</div>
</div>
