<div class="card">
    <div class="card-body">
        <h2 class="card-title">{{ socialNetwork.title }}</h2>
        <div class="row">
            <div class='col-md-4' *ngFor="let detail of socialNetwork.detail">
                <p class='social-buttons'>
                    <a href='{{ detail.url }}' target='_blank'>
                        <span class='social-round-icon fa-icon'>
                            <i class='{{ detail.icon }}'></i>
                        </span>
                        <u>{{ detail.name }}</u>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>