<div class="card" [hidden]="aboutMe.hide">
    <div class="card-body">
        <h2 class="card-title">{{ aboutMe.title }}</h2>
        <div class="row">
            <div class="col-md-4">
                <p>
                    <img src="{{ aboutMe.image }}" class="img-fluid" alt="">
                </p>
            </div>
            <div class="col-md-8">
                <p class="text-justify" *ngFor="let item of aboutMe.description">{{ item }}</p>
            </div>
        </div>
    </div>
</div>