/* You can add global styles to this file, and also import other style files */
#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

body {
    background: black;
}

.fa-icon {
    color: #ffffffd2;
    font-size: 1.5rem;
    padding: 0.6rem;
}

.fa-icon:hover {
    color: #80ff00;
}

.card {
    background-color: #dadadab8;
    border-radius: .25rem;
    margin-bottom: 2.5rem;
}

.card-body {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card-title {
    padding-bottom: 1.25rem;
}

a {
    color: black;
}

.form-floating {
    padding-bottom: 0.5rem;
}

.modal-header {
    background-color: #dadadab8;
}

.modal-body {
    background-color: #dadadab8;
}

.modal-footer {
    background-color: #dadadab8;
}

.lang-selector {
    z-index: 2;
}